:root {
  --tt-input-placeholder: var(--tt-gray-light-a-400);
  --tt-input-border: var(--tt-gray-light-a-200);
  --tt-input-border-focus: var(--tt-gray-light-a-300);

  --tt-bg-color: #ffffff;
  --tt-theme-text: #1a1a1a; 
}

.dark {
  --tt-input-placeholder: var(--tt-gray-dark-a-400);
  --tt-input-border: var(--tt-gray-dark-a-200);
  --tt-input-border-focus: var(--tt-gray-dark-a-300);

  --tt-bg-color: #000000;
  --tt-theme-text: #ffffff;
}

html, 
body, 
.simple-editor-wrapper, 
.simple-editor-content,
.tiptap.ProseMirror {
  background-color: var(--tt-bg-color) !important;
  color: var(--tt-theme-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.tiptap-input {
  width: 100%;
  min-width: 0;
  height: 2rem;
  padding: 0.25rem 0.625rem;
  border-radius: var(--tt-radius-md);
  border: 1px solid var(--tt-input-border);
  background: transparent;
  font-size: 1rem;
  outline: none;
  transition:
    color,
    background-color,
    border-color 150ms;

  &::placeholder {
    color: var(--tt-input-placeholder);
  }
}

.tiptap-input:focus-visible {
  border-color: var(--tt-input-border-focus);
}

@media (min-width: 768px) {
  .tiptap-input {
    font-size: 0.875rem;
  }
}
