.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background:#0055A0;
  color:rgb(247, 219, 18);
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.form-modal label {
  display: flex;
  padding: 10px;
  flex-direction: column;
  font-size: 16px;
}

.form-modal input {
  margin-top: 5px;
  width: 100%;
}

.modal-content input {
  background-color: rgb(247, 219, 18);
  border: 1px solid rgb(247, 219, 18);
  padding: 8px;
  border-radius: 5px;
}

.modal-content button {
  margin-top: 20px;
  align-self: flex-end;
  padding: 10px;
  background-color: rgb(247, 219, 18);
  border: none;
  border-radius: 5px;
  margin-left: 12px;
}

.textarea-modal {
  background-color: #f7db12;
  color: #0055A0;
  border: 1px solid #f7db12;
  border-radius: 5px;
  padding: 8px;
}