.quill-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.quill {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100% !important;
}

.ql-container.ql-snow {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative; 
}

.ql-snow .ql-tooltip {
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  background-color: white !important;
  padding: 10px !important;
}

.ql-editor {
  flex: 1;
  overflow-y: auto;
  background-color: white;
  font-size: 16px;
  padding: 30px;
  min-height: 100%;
  word-break: break-word;    
  overflow-wrap: break-word; 
  white-space: pre-wrap;     
}

.ql-editor .ql-align-center { text-align: center; }
.ql-editor .ql-align-right { text-align: right; }
.ql-editor .ql-align-left { text-align: left; }

.ql-editor img, 
.ql-editor .ql-video {
  display: block; 
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.ql-editor .ql-align-center img,
.ql-editor .ql-align-center .ql-video {
  margin-left: auto;
  margin-right: auto;
}

.ql-editor .ql-align-right img,
.ql-editor .ql-align-right .ql-video {
  margin-left: auto;
  margin-right: 0;
}

.ql-editor .transition {
  max-width: 100%;
}